@tailwind base;
@tailwind components;
@tailwind utilities;

/* Impor Font Plus Jakarta Sans sesuai UI Mockup */
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #F8F9FD;
}

/* Kustomisasi Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(30, 11, 75, 0.15);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(30, 11, 75, 0.3);
}
